.contact{
    text-align: center;
    padding: 10px;
}

.two{
    margin-top: 5vh;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    
}
.contact-tile{
    padding: 10px;
    margin: 2vh;
    font-weight: 400;
    background-color: black;
    max-width: fit-content;
    margin: auto;
    margin-top: 2vh;
    min-width: 150px;
}

.facebook{
    background-color: #3b5998;
}

.github{
    background-color:#211F1F;
}

.linkedin{
    background-color: #0e76a8;
}

.instagram{
    background-color: #f2003c;
}

.snapchat{
    background-color: #FFFC00;
    color: black;
}

.twitter{
    background-color: #1DA1F2;
}

.email{
    background-color: #0e76a8;
}

@media screen and (max-width:600px){
    .contact-tile{
        max-width: 100%;
    }

    .two{
        display: block;
    }
}