html{
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 500% 500%;
  min-height: 100%;
  width: 100%;
  margin: 0;
  background-repeat: no-repeat;
  animation: gradient 10s ease infinite;
  color: white;
}

.freeze{
  pointer-events: none;
  overflow: hidden;
}

.animate-gradient{
  background-size: 500% 500%;
  background-repeat: no-repeat;
  animation: gradient 10s ease infinite;
}

.animate-background-infinte{
  animation: gradient 10s ease infinite;
}

.animate-background-finite{
  animation: gradient 10s ease ;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
*{
  -ms-overflow-style: none;
}

/* *{
  border:2px solid black;
} */